h1 {
  display: block;
  text-align: center;
  margin: 2rem 0rem 1rem 0rem;
  font-size: 2.5rem;
  color: #0d590f;
}
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0.2rem;
}
button:hover {
  background-color: #0d590f;
}
input {
  background-color: #daf7db;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem 6rem;
  margin: 0.5rem;
}
input::placeholder {
  color: gray;
}
